{% extends 'app.html.twig' %}

{% block body %}
	<div class="form-container">
		{% include "rental/_form.html.twig" with {action_title: 'Zwrot', rent_action: 'Zwrot wypożyczenia', btn_action: 'Zwróć', rent_create: false} %}
	</div>
{% endblock %}
