{% extends 'app.html.twig' %}

{% block body %}
	{% if app.user %}
		<div class="outter-container">
			<h1>Ulubione</h1>
			<div class="categories-container">
				{% if userFavCategories is defined and userFavCategories|length %}
					{% for favCategory in userFavCategories %}
						{% include '/category/_box.html.twig' with {'category': favCategory} %}
					{% endfor %}
				{% else %}
					<p>Add to your favorites</p>
				{% endif %}
			</div>
		</div>
	{% endif %}
	<div class="search">
		{{ form_start(form) }}
		{{ form_row(form.title) }}
		<button>
			<i class="fa-solid fa-magnifying-glass"></i>
		</button>
		{{ form_end(form) }}
	</div>
	<div class="outter-container category-container">
		<h1>Categories</h1>
		{% include "app/_pagination.html.twig" with {pager: pager, path: 'category_index'} %}
		{% include "/category/_table.html.twig" with {pager: pager, userFavCategoryIds: userFavCategoryIds} %}
	</div>
{% endblock %}
