{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'action': path('book_delete', {'id': book.id}), 'method': 'DELETE'}) }}
        <button>Delete</button>
    {{ form_end(form) }}
{% endblock %}