<h1>Hello {{ username }}</h1>
<p>
    Unfortunately, You've reached the maximum number of missed turns and can no longer stay in {{ book }} queue.
</p>
<p>Please, check the book's availability and sign up again!</p>
<p>Regards</p>
