<h1>Hello {{ username }}</h1>
<p>
    You have sign up to the queue of {{ book }} queue.
    Your current position: {{ position }}
</p>
<p>We will send you an email when it's your turn!</p>
<p>Regards</p>
