
@import url('colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
}

.app-container {
    display: flex;
    justify-content: space-between;
}

.page-container {
    min-height: 150vh;
    background-color: var(--bg-gray);
}

.page-container h1,
.page-container h2 {
    color: var(--gray);
}

.left-menu-container {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30px;
    background-color: #fff;
}

.right-container {
    flex-basis: 80%;
    display:flex;
    flex-direction: column;
}

.top-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: var(--main-blue);
}

.top-menu-container ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 10px;
}

.top-menu-container ul li {
    padding: 20px 5px;
    font-size: 20px;
}

.top-menu-container ul li a {
    text-decoration: none;
    color: #fff;
    transition: .2s ease-in;
}

.top-menu-container ul li a:hover {
    color: rgba(252, 252, 252, 0.9)
}

.top-menu-container li i {
    font-size: 26px;
    color: var(--opacity-green);
}
    
/* Logo */
.logo-headers {
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 50px; */
}

.img-logo-box {
    height: 300px;
    object-fit: contain;
}

.logo-text {
    font-size: 48px;
    font-family: "Playwrite NZ Guides", cursive;
    color: var(--main-blue);
}

.logo-text span {
    color: var(--opacity-green);
}

.menu-box {
    margin-top: 50px;
    padding: 20px 30px;
}

ul.menu {
    list-style: none;
}

.menu li {
    font-size: 18px;
    padding: 15px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 7px;
    position: relative;
}

.menu i {
    padding-right: 2px;
    transition: .2s ease;
}

ul.menu a {
    position: relative;
    text-decoration: none;
    color: var(--gray);
    transition: .2s ease;
    z-index: 1;
}

.menu li::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 150%;
    height: 100%;
    width: 100%;
    transition: .2s ease;
    background-color: var(--hover-blue);
}

.menu li:hover::before {
    right: 0;
    border-radius: 7px;
}

.menu li:hover i {
    color: var(--green);
}

.menu li:hover a {
    color: rgb(48, 70, 144);
}

.new-book-box {
    width: 100%;
    background-color: var(--main-blue);
    min-height: 600px;
    margin-top: 40px;
}

.header-box {
    display: flex;
    gap: 10px;
    padding: 15px;
    align-items: center;
    margin-bottom: 20px;
}

.header-box h2 {
    color: var(--green)
}

.category-info p {
    padding: 5px 10px;
    border-radius: 7px;
    color: #fff;
}

.flex-box {
    width: 80%;
    margin: 0 auto;
}

.white-bg {
    border-radius: 14px;
    background-color: var(--bg-gray);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}

.img-title-content {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 4px 8px -8px gray;
    align-items: center;

}

.img-title-content p {
    color: var(--gray);
}
.new-book-img {
    width: 90%;
    height: 90%;
}

.new-book-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-box > p {
    text-align: center;
    color: #fff;
}

.search {
    background-color: #fff;
    margin: 30px 20px;
    padding: 20px;
    border-radius: 15px;
}

.rentals-container .search {
    margin: 20px 0;
    padding: 0;
}

.search form {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search form input,
.search form select {
    padding: 10px 15px;
    border-radius: 7px;
    background-color: var(--hover-blue);
    border: none;
    color: rgb(200,191,205);
}

.search form input::placeholder {
    color: rgb(200,191,205);
}

.search form input:focus,
.search form select:focus {
    color: var(--gray);
}

.search form button {
    background-color: var(--main-blue);
    color: #fff;
    padding: 7px 12px;
    border-radius: 14px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
}

.search form button:hover {
    background-color: var(--hover-blue);
    color: var(--gray);
}

.auth-container {
    height: 95.8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);
}

.inner-auth-container {
    width: 1150px;
    height: 630px;
    background-color: rgb(58,96,171);
    backdrop-filter: blur(1px);
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.auth-user {
    flex-basis: 40%;
}

.auth-app-info {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/auth4-logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-text {
    width: 70%;
    height: 40%;
    background-color: rgba(212, 193, 193, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 14px;
}

.login-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur-box {
    margin-top: 10px;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background-color: rgba(212, 193, 193, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form h1,
.login-form p {
    color: #fff;
    text-align: center;
    padding: 7px;
}

.login-form form {
    width: 80%;
    margin: 0 auto;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.login-form form input,
.login-form form button {
    padding: 15px 25px;
    width: 100%;
    border-radius: 7px;
    border: none;
}

.login-form form input {
    background-color: #fff;
}
.login-form form button {
    background-color: rgb(142,232,162);
}

.app-about {
    padding: 25px;
}

.app-about-header {
    height: 60px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 7px;
}

.app-about-header h1 {
    color: var(--gray);
}

.app-about-header img {
    width: 60px;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.app-text p {
    padding: 20px;
    color: var(--gray);
    text-align: center;
}
