
@import url('colors.css');

.search {
    background-color: #fff;
    margin: 30px 20px;
    padding: 20px;
    border-radius: 15px;
}

.popular-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 70%;
    margin: 30px auto;
}

.populars-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: 100%;
    /* margin: 0 auto; */
    gap: 40px;
}

.popular-content {
    flex-basis: 60%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    transition: .2s;
    /* height: 400px; */
}

.popular-content:first-child {
    background-color: var(--main-blue);
}

.popular-content:first-child h3,
.popular-content:first-child p {
    color: #fff;
}

.popular-book-img-boox {
    flex-basis: 40%;
    height: 100%;
    border: 1px solid rgb(191,191,191);
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-text-content {
    flex-basis: 54%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.popular-text-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--gray);
}

.popular-text-content h4 {
    color: rgb(191,191,191);
    font-size: 18px;
}

.popular-p {
    display: inline-block;
}

.books-container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.book-box {
    flex-basis: 28%;
    transition: .3s;
    border-radius: 14px;
}

.book-box:hover {
    background-color: var(--hover-blue);
}

.img-book {
    width: 150px;
    height: 100%;
    object-fit: cover;
}

.book-top {
    display: flex;
    height: 250px;
    gap: 30px;
}

.book-left {
    border: 1px solid rgb(191,191,191);
    overflow: hidden;

}
.book-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    /* align-items: center; */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.release {
    color: var(--gray);
    font-style: italic;
    font-size: 16px;
}

.p-title {
    font-weight: bold;
    font-size: 18px;
    color: var(--gray);
}

.pages {
    color: var(--gray);
    font-size: 14px;
}

.action-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.last i {
    font-size: 22px;
    /* color:#fff; */
    color: var(--main-blue);
    transition: .2s ease-in;

}

.action-btn:hover .last i {
    color: var(--green);
}



.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    /* background-color: rgba(196, 239, 207, 0.636); */
    background-color: var(--hover-blue);
    transition: .2s;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    /* margin-top: auto; */
}

.status {
    flex-basis: 80px;
    margin-left: 5px;
    text-transform: capitalize;
}

.borrowed {
    background-color: rgb(255,193,7);
}

.available {
    background-color: var(--opacity-green);
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: var(--main-blue); */
    background-color: #fff;
    /* margin-top: auto; */
}


.category p {
    display: inline;
    border-radius: 7px;

    width: auto;
    padding: 5px 7px;

}

/* .book-box:hover .action{
    background-color: rgba(34, 72, 197, 0.2);
} */